:root{
  --primary:#2c7ef9;
  --sucefully:#43D29E;
  --danger:#EB4E36;
}  
  body{
      background-color: #f1f1f0;
  } 
  #sidebar-container {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  .roundedPurple{
    border-radius: 1rem;
  }
  #sidebar-container .logo{
    padding: 1.25rem 1.25rem;
  }
  .logo{
    background-color:var(--primary);
  }
  #sidebar-container .menu {
    width: 18rem;
  }
  
  #content-wrapper.toggled #sidebar-container {
    margin-left: 0;
  }


#content {
  overflow-y: auto;
  /*min-height: 100vh;*/
}

.btn-sidebar:hover{
  background-color: #f4f8fa;
  border-left: .3rem solid var(--primary) !important;
  transition: ease .30s;
}
  
  @media (min-width: 768px) {
    #sidebar-container {
      margin-left: 0;
    }
    #content-wrapper.toggled #sidebar-container {
      margin-left: -12rem;
      text-align: right;
      font-size: 1.6rem;

    }
    #content-wrapper.toggled #sidebar-container span{
      display: none;
    }
    #content-wrapper.toggled #sidebar-container button{
      margin-left: 5.8rem;
    }
  }
  
/*Checadas*/

.tableAsisten td{ 
  vertical-align:middle;
  text-align: center;
}
.tableAsisten svg{
  margin-left: auto;
  margin-right: auto;
}